# Database configuration for PostgreSQL
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database>

# Database configuration for Flyway (used for database migrations)
FLYWAY_USER=<username>
FLYWAY_PASSWORD=<password>
FLYWAY_URL=<url>

# Database configuration for PostgreSQL driver
PGUSER=<username>
PGPASSWORD=<password>
PGHOST=<host>
PGPORT=<port>
PGDATABASE=<database>

# Deno cache location (avoid reloading depedencies over and over)
DENO_DIR=/app-cache